In [412]:
import numpy as np
import os
import pandas as pd

In [421]:
data_dir = os.path.abspath("MC2Data")
meteor_file = os.path.join(data_dir, "Meteorological Data.xlsx")
meteor_data = pd.read_excel(meteor_file)
meteor_data = meteor_data.iloc[:,:3]
sensor_file = os.path.join(data_dir, "Sensor Data.xlsx")
sensor_data = pd.read_excel(sensor_file)
sensor_data.columns = ['chemical', 'monitor', 'date', 'reading']
meteor_data.columns = ['date', 'wind_direction', 'wind_speed']
meteor_data = meteor_data.dropna()
meteor_data.isna().sum()
data = pd.merge(sensor_data,meteor_data,on='date',how='left')
data['wind_direction'] = data['wind_direction'].fillna(-11111)
data['wind_speed'] = data['wind_speed'].fillna(-11112)
data_meteor = data[['date', 'wind_direction', 'wind_speed']]
data_meteor = data_meteor.drop_duplicates()
data_meteor = data_meteor.reset_index(drop=True)
data_meteor['wind_direction'] = data_meteor['wind_direction'].replace(-11111, 0)
data_meteor['wind_speed'] = data_meteor['wind_speed'].replace(-11112, 0)
print(len(data_meteor['wind_speed']) - np.count_nonzero(data_meteor['wind_speed']))
print(len(data_meteor['wind_direction']) - np.count_nonzero(data_meteor['wind_direction']))
i = 0
while(i <= len(data_meteor)-3):
    if(data_meteor['wind_speed'][i] == 0 and data_meteor['wind_direction'][i] == 0):
        count_0 = 0
        for j in range(1,6):
            count_0 += 1
            if(data_meteor['wind_speed'][i+j] != 0 and data_meteor['wind_direction'][i+j] != 0):
                break
            elif(j == 5):
                break
        diff_wind_speed = data_meteor['wind_speed'][i+j] - data_meteor['wind_speed'][i-1]
        diff_wind_direction = data_meteor['wind_direction'][i+j] - data_meteor['wind_direction'][i-1]
        avg_wind_speed = diff_wind_speed / (count_0 + 1)
        avg_wind_direction = diff_wind_direction / (count_0 + 1)
        total_wind_speed = data_meteor['wind_speed'][i-1] + avg_wind_speed
        total_wind_direction = data_meteor['wind_direction'][i-1] + avg_wind_direction
        for k in range(0, count_0):
            if k == 0:
                data_meteor['wind_speed'][i+k] = total_wind_speed
                data_meteor['wind_direction'][i+k] = total_wind_direction
            else:
                total_wind_speed = data_meteor['wind_speed'][i-1] + (avg_wind_speed * (k+1))
                total_wind_direction = data_meteor['wind_direction'][i-1] + (avg_wind_direction * (k+1))
                data_meteor['wind_speed'][i+k] = total_wind_speed
                data_meteor['wind_direction'][i+k] = total_wind_direction
        i = i + j
    i += 1
data_meteor.to_csv('/Users/raghav/Documents/DV/project/MC2Data/meteor_test.csv')
data_sensor = data[['date', 'chemical', 'monitor', 'reading']]

1502
1502

/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [435]:
data_meteor['wind_direction'][2201] = 161.0
data_meteor['wind_direction'][2202] = 161.0
data_meteor['wind_speed'][2201] = 3.50
data_meteor['wind_speed'][2202] = 3.50

/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/raghav/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [436]:
len(set(data_meteor.date)) * 9 * 4

79308

In [437]:
data_new = pd.merge(data_sensor,data_meteor,on='date',how='left')

In [438]:
data_sensor

                     date        chemical  monitor   reading
0     2016-04-01 00:00:00  Methylosmolene        3  2.683820
1     2016-04-01 00:00:00  Methylosmolene        7  2.630640
2     2016-04-01 00:00:00    Chlorodinine        3  1.259170
3     2016-04-01 00:00:00    Chlorodinine        7  0.943983
4     2016-04-01 00:00:00         AGOC-3A        3  0.722303
...                   ...             ...      ...       ...
79238 2016-12-31 23:00:00         AGOC-3A        1  0.078266
79239 2016-12-31 23:00:00  Methylosmolene        3  0.062784
79240 2016-12-31 23:00:00         AGOC-3A        2  0.060814
79241 2016-12-31 23:00:00     Appluimonia        7  0.039729
79242 2016-12-31 23:00:00         AGOC-3A        7  0.014658

[79243 rows x 4 columns]

In [439]:
data_new.to_csv('/Users/raghav/Documents/DV/project/MC2Data/data_new.csv')

In [440]:
data1 = data_new[data_new.monitor == 1]
data1 = data1.reset_index(drop=True)
data2 = data_new[data_new.monitor == 2]
data2 = data2.reset_index(drop=True)
data3 = data_new[data_new.monitor == 3]
data3 = data3.reset_index(drop=True)
data4 = data_new[data_new.monitor == 4]
data4 = data4.reset_index(drop=True)
data5 = data_new[data_new.monitor == 5]
data5 = data5.reset_index(drop=True)
data6 = data_new[data_new.monitor == 6]
data6 = data6.reset_index(drop=True)
data7 = data_new[data_new.monitor == 7]
data7 = data7.reset_index(drop=True)
data8 = data_new[data_new.monitor == 8]
data8 = data8.reset_index(drop=True)
data9 = data_new[data_new.monitor == 9]
data9 = data9.reset_index(drop=True)
data1.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_1.csv')
data2.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_2.csv')
data3.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_3.csv')
data4.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_4.csv')
data5.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_5.csv')
data6.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_6.csv')
data7.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_7.csv')
data8.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_8.csv')
data9.to_csv('/Users/raghav/Documents/DV/project/MC2Data/sensor_9.csv')

In [442]:
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data4.shape)
print(data5.shape)
print(data6.shape)
print(data7.shape)
print(data8.shape)
print(data9.shape)

(8804, 6)
(8804, 6)
(8806, 6)
(8804, 6)
(8804, 6)
(8805, 6)
(8806, 6)
(8806, 6)
(8804, 6)

In [446]:
(30+31+31)*24*9*4

79488

In [447]:
data_meteor

                    date  wind_direction  wind_speed
0    2016-04-01 00:00:00      190.500000    4.000000
1    2016-04-01 01:00:00      194.766667    4.333333
2    2016-04-01 02:00:00      199.033333    4.666667
3    2016-04-01 03:00:00      203.300000    5.000000
4    2016-04-01 04:00:00      202.566667    5.066667
...                  ...             ...         ...
2198 2016-12-31 19:00:00      171.666667    3.366667
2199 2016-12-31 20:00:00      166.333333    3.433333
2200 2016-12-31 21:00:00      161.000000    3.500000
2201 2016-12-31 22:00:00      161.000000    3.500000
2202 2016-12-31 23:00:00      161.000000    3.500000

[2203 rows x 3 columns]

In [450]:
data_new

,date,chemical,monitor,reading,wind_direction,wind_speed
0,2016-04-01 00:00:00,Methylosmolene,3,2.683820,190.5,4.0
1,2016-04-01 00:00:00,Methylosmolene,7,2.630640,190.5,4.0
2,2016-04-01 00:00:00,Chlorodinine,3,1.259170,190.5,4.0
3,2016-04-01 00:00:00,Chlorodinine,7,0.943983,190.5,4.0
4,2016-04-01 00:00:00,AGOC-3A,3,0.722303,190.5,4.0
...,...,...,...,...,...,...
79238,2016-12-31 23:00:00,AGOC-3A,1,0.078266,161.0,3.5
79239,2016-12-31 23:00:00,Methylosmolene,3,0.062784,161.0,3.5
79240,2016-12-31 23:00:00,AGOC-3A,2,0.060814,161.0,3.5
79241,2016-12-31 23:00:00,Appluimonia,7,0.039729,161.0,3.5
79242,2016-12-31 23:00:00,AGOC-3A,7,0.014658,161.0,3.5

In [451]:
print(len(data_new['reading']) - np.count_nonzero(data_new['reading']))

0

In [453]:
data_meteor.date

0      2016-04-01 00:00:00
1      2016-04-01 01:00:00
2      2016-04-01 02:00:00
3      2016-04-01 03:00:00
4      2016-04-01 04:00:00
               ...
2198   2016-12-31 19:00:00
2199   2016-12-31 20:00:00
2200   2016-12-31 21:00:00
2201   2016-12-31 22:00:00
2202   2016-12-31 23:00:00
Name: date, Length: 2203, dtype: datetime64[ns]

In [459]:
df = []

In [495]:
# pd.date_range('2015-07-03', '2015-07-30', periods=24, freq='H')
four = pd.date_range('2016-04-01', '2016-05-01', freq='H')
eight = pd.date_range('2016-08-01', '2016-09-01', freq='H')
twelve = pd.date_range('2016-12-01', '2017-01-01', freq='H')
a = four.to_frame().reset_index(drop=True)
a = a[:-1]
b = eight.to_frame().reset_index(drop=True)
b = b[:-1]
c = twelve.to_frame().reset_index(drop=True)
c = c[:-1]

In [496]:
a

                      0
0   2016-04-01 00:00:00
1   2016-04-01 01:00:00
2   2016-04-01 02:00:00
3   2016-04-01 03:00:00
4   2016-04-01 04:00:00
..                  ...
715 2016-04-30 19:00:00
716 2016-04-30 20:00:00
717 2016-04-30 21:00:00
718 2016-04-30 22:00:00
719 2016-04-30 23:00:00

[720 rows x 1 columns]

In [497]:
data_list = [a, b, c]

In [498]:
date = pd.concat(data_list)

In [502]:
date = date.reset_index(drop=True)

In [511]:
date_comp = date.set_axis(['date'], axis=1, inplace=False)

In [512]:
date_comp

                    date
0    2016-04-01 00:00:00
1    2016-04-01 01:00:00
2    2016-04-01 02:00:00
3    2016-04-01 03:00:00
4    2016-04-01 04:00:00
...                  ...
2203 2016-12-31 19:00:00
2204 2016-12-31 20:00:00
2205 2016-12-31 21:00:00
2206 2016-12-31 22:00:00
2207 2016-12-31 23:00:00

[2208 rows x 1 columns]

In [528]:
l = list(data_meteor.date)
for i in range(len(date_comp)):
    if date_comp['date'][i] not in l:
        print(date_comp['date'][i])

2016-04-02 00:00:00
2016-04-06 00:00:00
2016-08-04 00:00:00
2016-08-07 00:00:00
2016-12-02 00:00:00

In [539]:
data_new.date

0       2016-04-01 00:00:00
1       2016-04-01 00:00:00
2       2016-04-01 00:00:00
3       2016-04-01 00:00:00
4       2016-04-01 00:00:00
                ...
79238   2016-12-31 23:00:00
79239   2016-12-31 23:00:00
79240   2016-12-31 23:00:00
79241   2016-12-31 23:00:00
79242   2016-12-31 23:00:00
Name: date, Length: 79243, dtype: datetime64[ns]

In [546]:
dups_date = data_new.pivot_table(index=['date'], aggfunc='size')
dups_date = dups_date.to_frame()
dups_date.reset_index(level=0, inplace=True)
dups_date.rename(columns={ dups_date.columns[1]: "count" }, inplace = True)

In [551]:
dups_date

                    date  count
0    2016-04-01 00:00:00     36
1    2016-04-01 01:00:00     36
2    2016-04-01 02:00:00     36
3    2016-04-01 03:00:00     36
4    2016-04-01 04:00:00     36
...                  ...    ...
2198 2016-12-31 19:00:00     36
2199 2016-12-31 20:00:00     36
2200 2016-12-31 21:00:00     36
2201 2016-12-31 22:00:00     36
2202 2016-12-31 23:00:00     36

[2203 rows x 2 columns]

In [561]:
dups_date.loc[dups_date['count'] < 36]

           date  count
742  2016-08-02      2
1603 2016-12-07      5

In [560]:
a

0       False
1       False
2       False
3       False
4       False
        ...
2198    False
2199    False
2200    False
2201    False
2202    False
Name: count, Length: 2203, dtype: bool

In [550]:
dups_date.loc[dups_date['count'] > 36]

Empty DataFrame
Columns: [date, count]
Index: []

In [553]:
(34 + 31 + (36 * 5))

245

In [604]:
data = pd.read_csv("/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/data_new.csv")

In [605]:
data['wind_direction'] = data['wind_direction'].fillna(0)
data['wind_speed'] = data['wind_speed'].fillna(0)
data['date'] = pd.to_datetime(data['date'])
data.drop(data.columns[[0]], axis=1, inplace=True)
data = data.sort_values(by=['date', 'monitor', 'chemical'], ascending=True)
data = data.reset_index(drop=True)
data.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/data_new.csv')

In [607]:
data_new = data

In [608]:
data1 = data_new[data_new.monitor == 1]
data1 = data1.reset_index(drop=True)
data2 = data_new[data_new.monitor == 2]
data2 = data2.reset_index(drop=True)
data3 = data_new[data_new.monitor == 3]
data3 = data3.reset_index(drop=True)
data4 = data_new[data_new.monitor == 4]
data4 = data4.reset_index(drop=True)
data5 = data_new[data_new.monitor == 5]
data5 = data5.reset_index(drop=True)
data6 = data_new[data_new.monitor == 6]
data6 = data6.reset_index(drop=True)
data7 = data_new[data_new.monitor == 7]
data7 = data7.reset_index(drop=True)
data8 = data_new[data_new.monitor == 8]
data8 = data8.reset_index(drop=True)
data9 = data_new[data_new.monitor == 9]
data9 = data9.reset_index(drop=True)
data1.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_1.csv')
data2.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_2.csv')
data3.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_3.csv')
data4.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_4.csv')
data5.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_5.csv')
data6.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_6.csv')
data7.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_7.csv')
data8.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_8.csv')
data9.to_csv('/Users/raghav/Documents/DV/VAST-2017-MC2-Venkatramanan/MC2Data/sensor_9.csv')

In [ ]:
# import matplotlib.image as mpimg 
# import matplotlib.pyplot as plt 
  
# # Read Images 
# img = mpimg.imread('/Users/raghav/Documents/DV/project/MC2Data/MapLargeLabels.jpg') 
# plt.rcParams['figure.figsize'] = [20, 10]
# # Output Images 
# plt.imshow(img) 

# data.isna().sum()
# data = data.dropna()   
# data